
html{
   font-family: neue-haas-grotesk-text, sans-serif;

}

body{
    margin: 1.2rem 1.5rem 1.5rem 1.5rem;
    background-color: antiquewhite;
}

#grand_titre{
    position: relative;
    font-size: 80px;
    animation: changeColor 30s infinite;  
    font-weight: 500;
    line-height: 80px;
    margin-bottom: 10px;
}

#ensemble_part{
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    
}

.data_part{
    padding: 2rem;
}

#dataification_part{
    width: 45%;
    background-color: white;
    margin-right: 10px;
}

#undataification_part{
    width: 45%;   
    background-color: white;
}

h2{
    margin-block-start:0;
} 

.presentation{
    margin-bottom: 5rem;
}

.ensemble_select{
    position: relative;
    margin-top: 2rem;
}

.apparait_select{
/*    position: absolute;*/
    top: 0;
    left: 0;
/*    display: none;  */
}

#texte_data{
    width: 80%;
    min-width: 200px;
    max-width: 80%;
    height: 120px;
    min-height: 70px;
}

.formulaire_img{
    margin: 2rem 0 2rem 0;  
}

.boutton{
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
    background-color: bisque;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-size: 16px;
}

.boutton:hover{
    background-color: gray;
}

.index_conteneur_img{
    margin-bottom: 20px;
    display: none;
    width: 80%;
}

.index_conteneur_img img{
    width: 100%;
    height: auto;
}

#textCanvas{
    display: none;
}


#affiche, #demo{
    display: none;
}

@keyframes changeColor {
    
  0% {
    color: gainsboro; }
  50% {
    color: darkgray; }
  100% {
    color: gainsboro; }



